.idea/
www/.editorconfig
www/.env.example
www/.gitattributes
www/.gitignore
www/.styleci.yml
www/README.md
www/artisan
www/bootstrap/
www/config/
www/package.json
www/phpunit.xml
www/public/
www/server.php
www/storage/
www/tests/
www/webpack.mix.js
dump
www/.env.local
www/backups/
